a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(241, 241, 241);
  background-color: black;

  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}

.outline {
  outline-style: solid;
  outline-width: 1px;
  outline-color: gray;
}

.sidebar {
  width: fit-content;
  height: 100vh;
  overflow: scroll;
}

.search {
  box-sizing: border-box;

  height: 1.5rem;
  width: 100%;

  border-width: 0;
  padding: 5px;

  background-color: rgb(58, 58, 58);
  color: white;
}

.search::placeholder {
  color: rgb(109, 109, 109);
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.memes {
  display: grid;

  flex: 1;
  overflow-y: auto;

  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: 50px 50px 50px;
}

.memes a {
  display: flex;
  text-decoration: none;
  align-items: center;

  border-radius: 10px;
  border-left-style: solid;
  border-left-width: 0;

  padding: 5px;
  margin: 10px;
  max-height: 3rem;

  transition: border-left-color, 0.2s;
}

.memes a:hover {
  border-left-color: #fff;
  background-color: rgba(117, 117, 117, 0.349);
  border-left-width: 0.3rem;
}

.category {
  display: flex;
  align-items: center;

  cursor: pointer;
  user-select: none;

  padding: 5px;

  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgba(128, 128, 128, 0);
  border-width: 1px;

  transition: 0.2s;
}

.category::after {
  opacity: 0;
  content: "›";
  padding-left: 5px;
}

.category.selected {
  background-color: rgba(117, 117, 117, 0.349);
}

.category.selected::after {
  opacity: 1;
}

.category:hover {
  border-color: rgb(255, 255, 255);
}

.category:hover:after {
  opacity: 1;
  content: "›";
  padding-left: 5px;
}

.icon {
  width: 2rem;
  margin: 4px;
}

.dim-text {
  color: rgb(167, 167, 167);
}
