a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(241, 241, 241);
  background-color: rgb(33, 33, 33);
}

.category {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  border-radius: 10px;

  width: fit-content;
  height: fit-content;
}

.media-details {
  cursor: pointer;
  user-select: none;
}

.media-summary {
  font-size: larger;
  line-height: 130%;
}

.media-summary:hover {
  font-weight:bold;
}

.icon {
  width: 2vw;
  margin: 5px;
  padding: 0;
  vertical-align: middle;
}

.bottom-icon {
  width: 2vw;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.bottom-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  text-align: right;
  border-radius: 10px;
  background-color: rgba(117, 117, 117, 0.349);
  color: rgb(145, 145, 145);
}

.meme {
  cursor: pointer;
  display: block;
  padding: 5px;
  margin: 10px;

  width: fit-content;

  border-radius: 10px;
  border-left-color: #bebebe;
  border-left-style: solid;
  border-left-width: 2px;

  transition: border-left-color, 0.35s;
}

.meme:hover {
  border-left-color: #fff;
}

.meme:hover {
  background-color: rgba(117, 117, 117, 0.349);
}

.dim-text {
  color: rgb(167, 167, 167);
}