a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(241, 241, 241);
  background-color: black;

  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}

.outline {
  outline-style: solid;
  outline-width: 1px;
  outline-color: gray;
}

.sidebar {
  width: fit-content;
  height: 100vh;
  overflow: scroll;
}

.category {
  display: flex;
  align-items: center;

  cursor: pointer;
  user-select: none;

  padding: 5px;

  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgba(128, 128, 128, 0);
  border-width: 1px;

  transition: 0.2s;
}

.category:hover {
  border-color: rgb(255, 255, 255);
}

.icon {
  width: 2rem;
  margin-right: 3px;
}

.content {
  flex: 1;
  display: grid;

  overflow: auto;
  height: 100vh;

  grid-template-columns: repeat(auto-fit, 300px);
  gap: 5px;
}

.content a {
  display: flex;
  text-decoration: none;
  align-items: center;

  border-radius: 10px;
  border-left-style: solid;
  border-left-width: 0;
  
  padding: 5px;
  margin: 10px;
  max-height: 3rem;
  
  transition: border-left-color, 0.2s;
}

.content a:hover {
  border-left-color: #fff;
  background-color: rgba(117, 117, 117, 0.349);
  border-left-width: 0.3rem;
}
